[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap4 = "*"
django-extra-views = "*"
gunicorn = "*"
dj-database-url = "*"
mysqlclient = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.12"
